---
import {Image} from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
  title: "About",
  description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">About</h1>
    <p>
      Hi, I’m Shkumbin Hasani, a software engineer based in Podujeve, Kosovo.
      I’m currently working at <a href="http://dua.com">Dua Ag</a> as a Full Stack Engineer.
    </p>
    <p>
      I’m a mostly self-taught developer, and I’ve been working with Code and Technology for the past 9 years (Since 9th
      grade).
      I’ve worked with a variety of technologies, but I’m currently most passionate about TypeScript, Javascript, React,
      Node.js.
    </p>
    <p>
      I’m currently a big fan on TypeScript, and I’m trying to learn as much as I can about it.
      I’m also trying to learn more about Design Patterns, and how to write better code.
    </p>
    <p>
      I’m also a big fan of Entrepreneurship, and I’m trying to build my own products on the side.
    </p>
  </div>
</PageLayout>
